APP_PORT=4000
PORT=4000

CRYPT_SALT=10
JWT_SECRET_KEY=secretREF
JWT_SECRET_REFRESH_KEY=secretACC
TOKEN_REFRESH_EXPIRE_TIME=2400h
TOKEN_EXPIRE_TIME=10m

BAD_REQUEST=BAD_REQUEST
FORBIDDEN=FORBIDDEN
INTERNAL_SERVER_ERROR=INTERNAL_SERVER_ERROR

PING_NUMBER=5
PING_HOST=google.com 


POSTGRES_HOST=localhost
#POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DEFAULT_PORT=5432
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres
PGDATA=/var/lib/postgresql/data

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public"


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"


ME_CONFIG_MONGODB_SERVER=mongodb
 ME_CONFIG_MONGODB_ENABLE_ADMIN=true
 ME_CONFIG_MONGODB_ADMINUSERNAME=root
 ME_CONFIG_MONGODB_ADMINPASSWORD=pass12345
 ME_CONFIG_BASICAUTH_USERNAME=admin
 ME_CONFIG_BASICAUTH_PASSWORD=admin123

MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=pass12345

MONGO_DATABASE_URL="mongodb://{MONGO_INITDB_ROOT_USERNAME}:{MONGO_INITDB_ROOT_PASSWORD}@localhost:27017/user?retryWrites=true&w=majority"

# MONGO_DATABASE_URL="mongodb+srv://<login>:<password>@clustergraphql.qd53r.mongodb.net/user?retryWrites=true&w=majority"